body{
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin: 0;
    background: radial-gradient(#fff,#ffd6d6);
}

nav {
    background-color: #111;
    color: white;
    padding: 20px 50px;
  }
  
  .navTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .navBottom {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .title{
    color: beige;
    font-size: 36px;

}

.menuItem{
    margin: 20px;
    font-weight: 700;
    font-size: 20px;
  }

  .menuItem {
    margin-right: 50px;
    cursor: pointer;
    color: lightgray;
    font-weight: 400;
  }

  .menuItem:hover{
      color: whitesmoke;
  }

  .offer{
    background: radial-gradient(#fff,#ffd6d6);
    margin-top: 80px;
    padding: 30px 0;
    }
  
    .small-container{
    width: 100%;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    }
  
    .row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    }
   
    .col-2 {
    flex-basis: 50%;
    min-width: 300px;
    }
    
    .col-2 img {
    max-width: 100%;
    padding: 7px 0;
    }
    
    .col-2 h1 {
    font-size: 60px;
    line-height: 60px;
    margin: 35px 0;
    color: tomato;
    }
  
    small{
    color: #555;
    font-size: 16px;
    }
    .offer-btn{
    color: white;
    font-size: 20px;
    height: 30px;
    display: inline-block;
    background-color: black;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
    text-decoration: none;
    }
    .offer-btn:hover{
    background-color: tomato;
    color: black;
    }

    .logo2{
      width: 90%;
      height: 100%;
      margin-right: 30px;
    }

    